* *{
    font-family: 'Anton', sans-serif;
     
  }
  body{
    min-height: 100vh;
  }
.logo {
  font-family: 'Exo', sans-serif;
}
.init{
padding-block-end: 0%;
}
.navbar{
  height: 100px;
 
}
.title{
text-align: center;
margin-top: 7px;
}
.map{
height: 100px;
}

/* .imgM{
  height: 200px;
  width: 100px;
} */